<h2 style="margin: 0 0 16px 0; color: <%= email_colors[:foreground] %>; font-size: 24px; font-weight: 600;">
  New Activity on Your Account
</h2>

<p style="margin: 0 0 16px 0;">
  Hi <%= @user.respond_to?(:name) ? @user.name : "there" %>,
</p>

<p style="margin: 0 0 16px 0;">
  There's been new activity on your account:
</p>

<%= render "mailers/shared/card" do %>
  <p style="margin: 0 0 8px 0; font-weight: 600; color: <%= email_colors[:foreground] %>;">
    <%= @activity[:type] || @activity.try(:type) || "Activity" %>
  </p>
  <p style="margin: 0; color: <%= email_colors[:foreground] %>;">
    <%= @activity[:description] || @activity.try(:description) %>
  </p>
<% end %>

<%= render "mailers/shared/button", text: "View Details", url: @activity[:url] || @activity.try(:url) || "#", icon: :external_link %>
